@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  font-family: "Plus Jakarta Sans", "Segoe UI", sans-serif;
}

body {
  margin: 0;
  color: #13293d;
}

* {
  box-sizing: border-box;
}
